<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aris Lista Familia">
    <meta name="author" content="TemplateMo Team">

    <!-- Title -->
    <title>Aris Lista Familia- HTML CSS Template</title>

    <!-- Fonts and Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/templatemo-barber-shop.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Template Information -->
    <!--
    TemplateMo 585 Barber Shop
    https://templatemo.com/tm-585-barber-shop
    -->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block sidebar collapse p-0">
                <div class="position-sticky sidebar-sticky d-flex flex-column justify-content-center align-items-center">
                    <a class="navbar-brand" href="index.html">
                        <img src="{{ url_for('static', filename='images/templatemo-aris-logo.png') }}" class="logo-image img-fluid" alt="Barber Shop Logo">
                    </a>
                    <ul class="nav flex-column">                        
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/admin/familia/list">
                              <i class="nav-item"></i> Ariana Sarango
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="/admin/familia/list">Lista Familia</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">Services</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Price List</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_5">Contact</a>
                          </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <div class="col-md-8 ms-sm-auto col-lg-9 p-0">
                <!-- Hero Section -->
                <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <h1 class="text-white mb-lg-3 mb-4"><strong>Lista <em> Familia</em></strong></h1>
                                <p class="text-black">Ariana Sophia Sarango Tandazo</p>
                                <a class="btn custom-btn custom-border-btn custom-btn-bg-white smoothscroll me-2 mb-2" href="#section_2">About Us</a>
                                <a class="btn custom-btn smoothscroll mb-2" href="#section_3">What We Do</a>
                            </div>
                        </div>
                    </div>
                    <div class="custom-block d-lg-flex flex-column justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='images/Vintage.webp') }}" class="custom-block-image img-fluid" alt="Barber Chair">
                        <h4><strong class="text-white">Métodos de búsqueda y ordenación.</strong></h4>
                        <a href="#booking-section" class="smoothscroll btn custom-btn custom-btn-italic mt-3">Aris</a>
                    </div>
                </section>

                

                <!-- Main Content Block -->
                <main class="container">
                    {% block content %}
                    <!-- Content goes here -->
                    {% endblock %}
                </main>

                <!-- Contact Section -->
                <section class="contact-section section-padding" id="section_5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-12 mx-auto">
                                <h2 class="text-center">¡Hola Mundo!</h2>
                            </div>
                            <div class="col-lg-6 col-12">
                                <h5 class="mb-3"><strong>Información de</strong> Contacto</h5>
                                <p class="text-white d-flex mb-1">
                                    <a href="tel:+491202403600" class="site-footer-link">(+593) 98-970-0718</a>
                                </p>
                                <p class="text-white d-flex">
                                    <a href="mailto:hello@barber.beauty" class="site-footer-link">ariana.s.sarango@unl.edu.ec</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</body>

</html>
